@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
:root{
    --cor-de-fundo: #000000;
    --verde: #6FFF57;
    --branco: #3A375E;
    --botao-ativo: #ff0000;
    --botao-inativo: #000000;
    --texto-fundo: #c1aeae;


}


body {
    background-color: var(--cor-de-fundo);
    color: var(--texto-fundo);
    font-family: 'Cinzel', sans-serif;
}

.conteudo-pricipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 50px;
}

.titulo-principal span {
    color: var(--verde);
}

.botao{
    font-family: 'Cinzel', sans-serif;
    background-color: red;
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;

}

.botoes {
    display: block;
}

.abas-textos{
    background-color: aquamarine;
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

.aba-conteudo-ativo{
    display: block;
}

.aba-conteudo {
    display: none;
}

.aba-conteudo-titulo-principal{
    text-align: center;
    font-size: 28px;
}


@media  screen and (min-width: 768px) {
    .botoes {
        display:flex;
    }
    
}

.botao:first-child {
    border-radius: 40px 0 0 0;
}

.botao:last-child{
    border-radius:0 40px 0 0;
}

.ativo {
    background-color: #e00a0a;
    border-bottom: #3A375E;
}

