@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
:root{
    --cor-de-fundo: #000000;
    --verde: #6FFF57;
    --branco: #3A375E;
    --botao-ativo: #ff0000;
    --botao-inativo: #000000;
    --texto-fundo: #c1aeae;


}